{% load staticfiles %}
{% load i18n %}<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network for functional trainging, free workout, tips and how you can be fit building you own box at home or wherever you want." />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Functional training, training box, functional box" />
		<meta name="robots" content="index, follow" />
		<title>{% block title %}Functional Box{% endblock %}</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="{% static 'css/fbx/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fbx/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fbx/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fbx/font-awesome.min.css' %}" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block head %}{% endblock %}
	</head>
	<body>

    {% include 'socialmedia/header.html' %}

    <!-- Landing Page Contents
    ================================================= -->
    {% block content %}
    {% endblock content %}
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="{% static 'js/fbx/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/fbx/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fbx/jquery.appear.min.js' %}"></script>
		<script src="{% static 'js/fbx/jquery.incremental-counter.js' %}"></script>
    <script src="{% static 'js/fbx/script.js' %}"></script>

	</body>
</html>
