{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<html lang="{{ LANGUAGE_CODE }}">
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network for functional and fitness training" />
		<meta name="keywords" content="Social Network, Social Media, Fitness, Functional, Training together" />
		<meta name="robots" content="index, follow" />
		<title>{% block title %}Functional Box{% endblock %}</title>

    <!-- Stylesheets
    ================================================= -->
		<link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/fbx/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fbx/ionicons.min.css' %}" />
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/fbx/emoji.css' %}" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/fbx/jquery-3.1.1.min.js' %}"></script>
    {% block head %}
    {% endblock head %}
	</head>
  <body>

    {% include 'socialmedia/header.html' %}


    	<div class="container">
    		<div class="row">

                {% block content %}
                {% endblock content %}

    		</div>
    	</div>


    {% include 'socialmedia/footer.html' %}

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->


    <script src="{% static 'js/fbx/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fbx/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/fbx/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/fbx/script.js' %}"></script>
  </body>
</html>
