{% load staticfiles %}
{% load i18n %}
<!-- Footer
    ================================================= -->
		<footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="{% static 'img/fbx/RZ_functional_box_schwarz_cmyk_100.gif' %}" alt="" class="footer-logo" /></a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i>Coming soon</a></li>
              	{% comment %}<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>{% endcomment %}
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For individuals</h6>
              <ul class="footer-links">
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">login</a></li>

              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For businesses</h6>
              <ul class="footer-links">
                <li><a href="mailto:info@functionalbox.ch">Business</a></li>
                <li><a href="mailto:info@functionalbox.ch">How to be a partner</a></li>

              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>About</h6>
              <ul class="footer-links">
                <li><a href="{% url 'fbox' %}">About us</a></li>
                <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="mailto:info@functionalbox.ch">Help</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h6>Contact Us</h6>
                <ul class="contact">
                	<li><i class="icon ion-ios-telephone-outline"></i>+41 (79) 936 8203</li>
                	<li><i class="icon ion-ios-email-outline"></i>info@functionalbox.ch</li>
                  <li><i class="icon ion-ios-location-outline"></i>Rapperswil Switzerland</li>
                </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>copyright functional box {% now 'Y' %}. All rights reserved</p>
      </div>
		</footer>
